  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">News Scraper</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/saved">Saved Articles</a></li>
    </ul>
  </div>
</nav>
<div class="jumbotron text-center">
  <div class="overlay">
  </div>
  <div class="background-image">
  </div>
  <div class="caption">
    <h1>Saved Articles</h1>
    <p>From the NyTimes</p>
  </div>
</div>
<div class="container-fluid article-container">
    <ul class="list-group">
        {{#each articles}}
          {{#if saved}}
            {{> articles/saved-articles-block }}
          {{/if}}
        {{/each}}
    </ul>
</div>
{{!-- <div class="modal"></div>
<div class="modal_bg"></div>
<div class="modal_main"></div> --}}

<footer class="footer">
  <div class="container">
    <p>Mongo Scraper</p>
  </div>
</footer>